:root {
    background-color: rgb(218, 228, 228);
    border-radius: .5rem;
}
body {
    background-color: whitesmoke;
    font-size: 20px;
    color: darkolivegreen;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1, h2,h3, h5, h6{
    margin: 0;
    color: black;
    font-weight: 700;
    line-height: 1.25;

}
       main {
                      margin: 20px auto;
                      width: 94%;
                  }
                  
                  .wrapper {
                      width: 100%;
                      min-height: 100%;
                      margin: 0 auto;
                      display: flex;
                      flex-direction: column;
                  }
                  
                  p {
                      font-size: 1.2rem;
                  }

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    color: white;
    border: none;
    outline: none;
    background-color: rgb(179, 202, 140);
    display: inline;
    margin-top: 22px;
    border: none;
    outline: none;
    display: inline-block;
    box-shadow: cadetblue;
    width: auto;
    padding: 15px;
}


.btn-back {
    color:cadetblue;
    
    background-color: rgb(179, 202, 140);
   
 
    font-size: 5.5rem;

}
.nav {
    width: 100%;
    position: fixed;
    background-color: cadetblue;
}
.link{
padding: 10px;
margin: 10px;
color: darkolivegreen;


}
.app-title {
    font-size: 3rem;
    background-color: rgb(179, 202, 140);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    box-shadow: 6px 5px 
}
.card{
    margin: 1 1 10px 0;
    border: solid darkslategray;
    border-radius:cadetblue ;
}
.card-header {
    padding: 2%;
    background-color:  rgb(179, 202, 140);
    border-radius: 2%;

}